<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Notizie su
                <strong>villa grazia</strong>
            </h2>
            <hr>
        </div>
        <div class="col-md-6">
            <img class="img-responsive img-border-left" src="https://bitbucket.org/repo/R8LjGp/images/1053513054-locandina.jpg" alt="">
        </div>
        <div class="col-md-6">
            <p>Il b&b Villa Grazia.</p>
            <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Il nostro
                <strong>Team</strong>
            </h2>
            <hr>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive" src="https://bitbucket.org/repo/R8LjGp/images/1874729923-simba.jpg" alt="">
            <h3>Simba
                <small>L'animatore</small>
            </h3>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive" src="https://bitbucket.org/repo/R8LjGp/images/21638342-Luciano.jpg"">
            <h3>Luciano
                <small>lo chef</small>
            </h3>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive" src="https://bitbucket.org/repo/R8LjGp/images/3210929996-10525707_1507046346180407_6480602857854710255_n.jpg" alt="">
            <h3>Maria Grazia
                <small>La Padrona</small>
            </h3>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
