<div class="row">
    <div class="box">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d514.3081376732727!2d8.489828310028296!3d40.25823193021844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sit!2sit!4v1422630851427" width="100%" height="450" frameborder="0" style="border:0"></iframe>
    </div>
</div>
