<div class="row">
    <div class="box">
     <h3>Prezzi</h3>
     <table class="table table-striped">
     <tr><th>MESI</th><th>CAMERA ILARIA (6 POSTI)</th><th>CAMERA DIANA (4 POSTI)</th><th>CAMERA ELENA (4 POSTI)</th><th>CAMERA GIULIA (4 POSTI)</th></tr>
     <tr><td>Gennaio</td><td>a € 80,00</td><td>a € 65,00</td><td>a € 50,00</td><td>a € 50,00</td></tr>    
     <tr><td>Febbraio</td><td>a € 80,00</td><td>a € 65,00</td><td>a € 50,00</td><td>a € 50,00</td></tr>
     <tr><td>Marzo</td><td>a € 80,00</td><td>a € 65,00</td><td>a € 50,00</td><td>a € 50,00</td></tr>
     <tr><td>Aprile</td><td>a € 85,00</td><td>a € 70,00</td><td>a € 55,00</td><td>a € 55,00</td></tr>
     <tr><td>Maggio</td><td>a € 85,00</td><td>a € 70,00</td><td>a € 55,00</td><td>a € 55,00</td></tr>
     <tr><td>Giugno</td><td>a € 90,00</td><td>a € 75,00</td><td>a € 60,00</td><td>a € 60,00</td></tr>
     <tr><td>Luglio</td><td>a € 90,00</td><td>a € 75,00</td><td>a € 60,00</td><td>a € 60,00</td></tr>
     <tr><td>Agosto</td><td>a € 90,00</td><td>a € 75,00</td><td>a € 60,00</td><td>a € 60,00</td></tr>
     <tr><td>Settembre</td><td>a € 85,00</td><td>a € 70,00</td><td>a € 55,00</td><td>a € 55,00</td></tr>
     <tr><td>Ottobre</td><td>a € 80,00</td><td>a € 65,00</td><td>a € 50,00</td><td>a € 50,00</td></tr>
     <tr><td>Novembre</td><td>a € 80,00</td><td>a € 65,00</td><td>a € 50,00</td><td>a € 50,00</td></tr>
     <tr><td>Dicembre</td><td>a € 80,00</td><td>a € 65,00</td><td>a € 50,00</td><td>a € 50,00</td></tr>
     </table>
     </div>
     </div>
