<div class="row">
    <div class="box">
        <div class="col-lg-12 text-center">
            <div id="carousel-example-generic" class="carousel slide">
                <!-- Indicators -->
                <ol class="carousel-indicators hidden-xs">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="8"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="9"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="10"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="11"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="12"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="13"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="14"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="15"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="16"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="17"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="18"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="19"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="20"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="img-responsive img-full" src="https://bitbucket.org/repo/R8LjGp/images/2313427844-10497919_1507043222847386_3148015457878439481_o.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="https://bitbucket.org/repo/R8LjGp/images/2483759017-1016660725-panorama.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="https://bitbucket.org/repo/R8LjGp/images/3775783631-10369209_1507702369448138_7467714196017588944_n.jpg" alt="">
                    </div>
                     <div class="item">
                        <img class="img-responsive img-full" src="https://bitbucket.org/repo/R8LjGp/images/2384265222-10425888_1507702106114831_7365220722360170669_n.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="https://bitbucket.org/repo/R8LjGp/images/2435810684-10527593_1507044556180586_4136714210615427150_n.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="https://bitbucket.org/repo/R8LjGp/images/2778527278-10354092_1507044469513928_6458054914835066007_n.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="https://bitbucket.org/repo/R8LjGp/images/3663710159-10421430_1507044416180600_457664386768656604_n.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="https://bitbucket.org/repo/R8LjGp/images/4078283394-10525812_1507703739448001_5917925096792061631_n.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="https://bitbucket.org/repo/R8LjGp/images/208748494-10494538_1507700269448348_8533309647642284862_n.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="https://bitbucket.org/repo/R8LjGp/images/377819887-10440931_1507044276180614_2473860500144249523_n.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="https://bitbucket.org/repo/R8LjGp/images/3240215706-10304791_1507044379513937_4646537031530691184_n.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="https://bitbucket.org/repo/R8LjGp/images/377819887-10440931_1507044276180614_2473860500144249523_n.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="https://bitbucket.org/repo/R8LjGp/images/3030709005-10423723_1507703989447976_2340983763468432730_n.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="https://bitbucket.org/repo/R8LjGp/images/1856359348-10367741_1507700216115020_2154049371218753488_n.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="https://bitbucket.org/repo/R8LjGp/images/51100729-10410576_1507044226180619_2352263834602152930_n.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="https://bitbucket.org/repo/R8LjGp/images/1700901403-10517583_1507703852781323_7726623108504762169_n.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="https://bitbucket.org/repo/R8LjGp/images/3924071176-10330442_1507700112781697_560278622740357532_n.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="https://bitbucket.org/repo/R8LjGp/images/1315913469-10509622_1507044042847304_5189285747451377036_n.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="https://bitbucket.org/repo/R8LjGp/images/1547638067-10492591_1507703812781327_5288833927826253016_n.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="https://bitbucket.org/repo/R8LjGp/images/1977797481-10418525_1507700436114998_8381875867306144677_n.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive img-full" src="https://bitbucket.org/repo/R8LjGp/images/3439249218-10513495_1507043699514005_596986240554491890_n.jpg" alt="">
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>
            <h2 class="brand-before">
                <small> Benvenuti a </small>
            </h2>
            <h1 class="brand-name">Villa Grazia</h1>
            <hr class="tagline-divider">
            <h2>
                <small>da
                    <strong>Kikko Baldino</strong>
                </small>
            </h2>
        </div>
    </div>
</div>
